@font-face {
	font-family: Jost;
	font-display: swap;
	src: url("../fonts/Jost-Black.woff2") format("woff2"), url("../fonts/Jost-Black.woff") format("woff");
	font-weight: 900;
	font-style:normal;
}
@font-face {
	font-family: Jost;
	font-display: swap;
	src: url("../fonts/Jost-Medium.woff2") format("woff2"), url("../fonts/Jost-Medium.woff") format("woff");
	font-weight: 500;
	font-style:normal;
}
@font-face {
	font-family: Oswald;
	font-display: swap;
	src: url("../fonts/Oswald-Bold.woff2") format("woff2"), url("../fonts/Oswald-Bold.woff") format("woff");
	font-weight: 700;
	font-style:normal;
}
@font-face {
	font-family: Jost;
	font-display: swap;
	src: url("../fonts/Jost-Bold.woff2") format("woff2"), url("../fonts/Jost-Bold.woff") format("woff");
	font-weight: 700;
	font-style:normal;
}
